{% extends 'base.html' %}
{% load static %}

{% block title %}Create Subscription{% endblock %}

{% block content %}
    <h2>Create Subscription</h2>
    <form id="subscription-form" action="{% url 'subscription_api:create' %}">
        <input type="hidden" id="user_id" name="user" value="{{ user.id }}">

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br>

        <label for="notification_period">Notification Period (in hours):</label><br>
        <input type="number" id="notification_period" name="notification_period" required><br>

        <button type="submit">Create Subscription</button>
    </form>

    <script src="{% static 'js/subscriptions/create_subscription.js' %}"></script>
{% endblock %}